/** VARIABLES **/
/** FONTS **/
@font-face {
  font-family: hankengrotesk;
  src: url("./fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype-variations");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 375px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  font-family: hankengrotesk, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(221, 100%, 96%);
  padding: 1rem;
}
@media screen and (max-width: 375px) {
  body {
    padding: 0;
  }
}

h1 {
  color: hsl(241, 100%, 89%);
  font-weight: 700;
  font-size: 1.33rem;
  line-height: 1.3em;
  margin-bottom: 1.94rem;
}

ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 736px;
  border-radius: 32px;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    max-width: 375px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    border-radius: 0;
  }
}
.container > .col {
  border-radius: 32px;
  width: 50%;
  padding: 2.22rem;
}
@media screen and (max-width: 767px) {
  .container > .col {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .container > .col {
    border-radius: 0 0 32px 32px;
  }
}
.container > .col-1 {
  background-image: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  color: hsl(241, 100%, 89%);
  text-align: center;
}
.container > .col-1 .circle {
  background-image: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto 1.56rem;
}
.container > .col-1 .score-lg {
  font-weight: 700;
  line-height: 1.3;
  color: hsla(241, 100%, 89%, 0.7);
}
.container > .col-1 .score-lg span {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  line-height: 1em;
  font-weight: 800;
}
.container > .col-1 .comments {
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  max-width: 260px;
  margin: 0 auto 0.8rem;
  line-height: 1.28em;
}
.container > .col-1 .txt-lg {
  color: hsl(0, 0%, 100%);
  font-size: 1.78rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 0.78rem;
}
.container > .col-2 h2 {
  margin-bottom: 1.56rem;
}
.container > .col-2 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.89rem;
  width: 100%;
}
.container > .col-2 .category {
  border-radius: 12px;
  padding: 0.89rem;
}
.container > .col-2 .category .col-1 {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.67rem;
}
.container > .col-2 .category .col-2 {
  font-weight: 700;
  color: hsla(223, 30%, 27%, 0.5);
}
.container > .col-2 .category .col-2 span {
  color: hsl(223, 30%, 27%);
}
.container > .col-2 #cat-1 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
}
.container > .col-2 #cat-1 .col-1 {
  color: hsl(0, 100%, 67%);
}
.container > .col-2 #cat-2 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
}
.container > .col-2 #cat-2 .col-1 {
  color: hsl(40, 100%, 56%);
}
.container > .col-2 #cat-3 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
}
.container > .col-2 #cat-3 .col-1 {
  color: hsl(166, 100%, 37%);
}
.container > .col-2 #cat-4 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
}
.container > .col-2 #cat-4 .col-1 {
  color: hsl(234, 85%, 45%);
}
.container > .col-2 .col-1 {
  display: flex;
}
.container .btn {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 128px;
  background-color: hsl(223, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 0.89rem;
  line-height: 1.21em;
  position: relative;
}
.container .btn::before {
  content: "Continue";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 128px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.container .btn:hover::before {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */